@import "tailwindcss";
@import "./theme.css";
@import "./shadcn.css";
@plugin "tailwindcss-animate";

@layer base, utilities;

@import "./base.css" layer(base);
@import "./custom-utilities.css";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
